#NewNoteCSS form {
    padding-bottom: 15px;
  }
  
  #NewNoteCSS  form textareaTitle {
    height: 50px;
    font-size: 24px;
  }
  #NewNoteCSS  form textareaName {
    height: 50px;
    font-size: 24px;
  }
  #NewNoteCSS  form textareaContent {
    height: 300px;
    font-size: 24px;
  }