.row.introduction {
  background-color: rgb(255, 255, 255);
  padding-top: 37px;
  padding-bottom: 61px;
}

.container.introduction-area {
  text-align: -webkit-center;
}

.col-xs-12.col-sm-12.card {
  border: 0px solid #46b8da;
  box-shadow: 0 1px 19px 0 #46b8da;
  padding-bottom: 73px;
  padding-top: 16px;
}

.col-xs-12.col-sm-3.basic-info h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 65px;
  padding-left: 20px;
}

.col-xs-12.col-sm-3.basic-info p {
  padding-top: 15px;
  line-height: 18px;
  font-family: 'Roboto', serif;
  font-size: 18px;
}

.col-xs-12.col-sm-6.animal-img {
  padding-top: 66px;
}

.col-xs-12.col-sm-3.content p {
  font-family: 'Roboto', serif;
  font-size: 18px;
  padding-top: 60px;
  padding-right: 20px;
  text-align: justify;
  padding-left: 7px;
}

.col-xs-12.col-sm-12.card {
  box-shadow: 0 1px 19px 0 #78e2ec61;
  padding-bottom: 73px;
  padding-top: 16px;
}

.row.carousel {
  background-color: #ebebeb;
  padding-top: 57px;
}

.container carousel-area {
  text-align: -webkit-center;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}
