.row.white {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
  }
  
  
  .content-inside {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 30px 0 #78e2ec61;
    padding-bottom: 47px;
    padding-top: 14px;
    margin-top: 60px;
  }

  .h1, h1 {
    font-size: 65px;
    font-family: 'Slabo 27px', serif;
}

.h2, h2 {
    font-size: 34px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

p {
    margin: 0 0 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

  .ripuli {
    
    text-align: center;
    
}
  
  .col-xs-12.col-sm-12.no-border {
    padding-bottom: 50px;
    
}



img.animal-here {
    width: 100%;
}


.row.linear-gradient-light-grey {
    /* background-color: #f1f1f133; */
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #ebebeb);
    padding-top: 0px;
    padding-bottom: 0px;
}



.col-xs-12.col-sm-2.short-text {
    text-align: center;
    padding-top: 140px;
}

.col-xs-12.col-sm-4.animal-img {
    padding-top: 160px;
}


.col-xs-12.col-sm-2.just-text {
    text-align: center;
    /* padding-right: 30px; */
}























/* #HelpCSS .donationwrapper {
	background: rgba(255, 254, 254, 0.6);
}

#HelpCSS .super-sad-dog {
	
    object-fit: contain;
    height: 165% !important; 
    width: 125% !important;
	margin-top: 7%;
}
#HelpCSS .donate-box {
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
	margin-top: 9%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background: rgba(255, 254, 254, 0.6);
    color: black;
    text-align: justify;
    padding-right: 5%;

}
#HelpCSS .sniffer-dog {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
}

#HelpCSS .volunteerswrapper {
    background-color: #ebebeb;
}
#HelpCSS .volunteers-box {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #ebebeb;
    color: black;
    text-align: justify;

}
#HelpCSS .addresswrapper {
    background-color: #BEE9EA;
    
}
#HelpCSS .address-box { 
    float: right;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #BEE9EA;
    color: black;
    text-align: justify;
}
 */