#HelpCSS .donationwrapper {
	background: rgba(255, 254, 254, 0.6);
}


#HelpCSS .super-sad-dog {
	float: left;
    object-fit: contain;
    height: 165% !important; 
    width: 125% !important;
	margin-top: 7%;
}
#HelpCSS .donate-box {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
	margin-top: 9%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background: rgba(255, 254, 254, 0.6);
    color: black;
    text-align: justify;
    padding-right: 5%;

}
#HelpCSS .sniffer-dog {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
}

#HelpCSS .volunteerswrapper {
    background-color: #ebebeb;
}
#HelpCSS .volunteers-box {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #ebebeb;
    color: black;
    text-align: justify;

}
#HelpCSS .addresswrapper {
    background-color: #BEE9EA;
    
}
#HelpCSS .address-box { 
    float: right;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #BEE9EA;
    color: black;
    text-align: justify;
}
