.donationwrapper {
	background: rgba(255, 254, 254, 0.6);
}
/* .col-xs-12 {
	background-color: yellow;
} */

.super-sad-dog {
	float: left;
    object-fit: contain;
    height: 165% !important; 
    width: 125% !important;
	margin-top: 7%;
}
.donate-box {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
	margin-top: 9%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background: rgba(255, 254, 254, 0.6);
    color: black;
    text-align: justify;
    padding-right: 5%;

}
.sniffer-dog {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
}

.volunteerswrapper {
    background-color: #ebebeb;
}
.volunteers-box {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #ebebeb;
    color: black;
    text-align: justify;

}
.addresswrapper {
    background-color: #BEE9EA;
    
}
.address-box { 
    float: right;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #BEE9EA;
    color: black;
    text-align: justify;
}

