.content-inside-short-text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 30px 0 #78e2ec61;
    padding-bottom: 47px;
    padding-top: 14px;
    margin-top: 150px;
  }

  img.animal-here-tall {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 65px;
    padding-bottom: 30px;
}












































/* #OngoingCSS .ongoingwrapper {
	background: rgba(255, 254, 254, 0.6);
}
#OngoingCSS .starry-dog {
	float: left;
    object-fit: contain;
    height: 135% !important; 
    width: 100% !important;
	margin-top: 7%;
}
#OngoingCSS .ongoing-box {
    object-fit: contain;
    height: 100% !important;
    margin-top: 9%;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    background: rgba(255, 254, 254, 0.6);
    color: black;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

#OngoingCSS .shelterwrapper {
	background-color: #ebebeb;
}
#OngoingCSS .pitiful-dog {
    float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
}

#OngoingCSS .shelter-box {
    object-fit: contain;
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    background-color: #ebebeb;
    color: black;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

#OngoingCSS .neuterwrapper{
	background-color: #BEE9EA;
}
#OngoingCSS #OngoingCSS .cost-box {
	float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 70% !important;
    margin-top: 7%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: fuchsia;
    color: black;
    text-align: justify;
}

#OngoingCSS .neuter-box {
    object-fit: contain;
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    background-color: #BEE9EA;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}
 */