.row.white-middle {
    background-color: #ffffff;
    padding-top: 120px;

}
.row.linear-gradient-light-grey-manolis {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #ebebeb);
    /* padding-top: 20px; */
    padding-bottom: 230px;
    padding-left: 10px;
    padding-right: 10px;

}

.col-xs-12.col-sm-4.manolis-img {
    padding-left: 10px;
    padding-right: 10px;
    
}

.row.linear-gradient-light-grey-to-top {
    background-image: linear-gradient(to top, #ffffff, #ebebeb);
    padding-top: 0px;
    padding-bottom: 250px;
}


/* värejä:	vähän kirkkaampi turkoosi #64CAD8
			haaleampi #ACEAEA
			haaleampi ja harmaampi sinivihreä #BEE9EA

fontteja:	Roboto (sopii kaikkialle), Slabo (johonkin pieneen yksityiskohtaan tai väliotsikkoon)
			Noto Sans & Noto Serif. Mätsäävät fontit, Sans otsikkoon ja serif leipikseen
			Noto serif (leipätekstiin */

