/* #SearchCSS .Search {
    background-color: #ebebeb;
    margin-top: 10%;
    border: 1px solid #cbcbcb;
    height: 100px;
    box-shadow: 2px 2px 2px  2px #d6d6d6;


}

#SearchCSS .Background {
    background-color: #ebebeb ;
    border: 1px solid #cbcbcb;
}

#SearchCSS .Valikko {

  

    margin-left: 33%;
}


#SearchCSS .select {
    font-size: 20px;
    margin-top: 3%;
    height: 33%;
    font-family: 'Roboto';

}


#SearchCSS .button_search_box {
    
    margin-left: 1%;
    

}

#SearchCSS .button_search {
    background-color: #64CAD8;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius:5px;
    background-color: #64CAD8;
    color: black;
    border: 2px solid #64CAD8;
    box-shadow: 2px 2px 2px #d6d6d6;

}

#SearchCSS .button_search:hover {
    background-color: #5dbcc9;
    border: 2px solid #5dbcc9;
    color: white;
} */