.footer {
    /* background-color: #b8f0e8; */
    background-color: #BEE9EA;
}

.info-box p {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media (max-width: 700px){
    .info-box p {
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        /* text-align: center; */
    }
}

.VITTU {
    width: 300px;
}
.info-box a {
    /* color: rgb(10, 151, 120); */
    color: rgb(0, 0, 0);
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
}


.paypal-box {
    text-align: center;
}

.footer-logo {
	/* display: flex; */
	 align-items: center;
  }
 /*  .footer-logo .img {
	padding: 7px 14px;
  } */











/* 
#FooterCSS .first {
	background-color: yellow !important;
}

#FooterCSS .footerwrapper {
	background-color: #46b8da;
	background-color: #BEE9EA;
	background-color: yellow !important; 

}*/
/*
#FooterCSS .info-box {
	float: left;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	background-color: #BEE9EA;
    color: white;
    text-align: justify;

}

#FooterCSS .paypal-box {
	float: right;
    object-fit: contain;
    height: 100% !important; 
    width: 100% !important;
    margin-top: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;	
	background-color: yellow !important; 
    color: white;
    text-align: justify;
} */