.row.white-front-page {
background-color: rgb(255, 255, 255);
padding-bottom: 50px;
}

.row.linear-gradient-light-grey-to-top-front-page {
    background-image: linear-gradient(to top, #ffffff, #ebebeb);
    padding-top: 0px;
    padding-bottom: 100px;
}


.row.linear-gradient-light-grey-front-page {
    /* background-color: #f1f1f133; */
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #ebebeb);
    padding-top: 130px;
    padding-bottom: 208px;
}

.quote-box {
    padding-left: 80px;
}

#youtube-iframe {
    object-fit: cover;
	width: 100%;
	height: 500px;
	min-height: 300px;
}

.ig-img {
   
	max-height: 85px;
	
}




/* .image-size {
	width: inherit;
}
.welcome {
	position: relative;
}
h1#Header {
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-bottom: 3px;
}
p#Header-p {
    color: black;
    font-family: 'Roboto', sans-serif;
	font-size: 27px;
	margin: 0 0 10px;
}

@media (max-width: 500px) {
	.welcome {
    height: 252px;
    background-color: rgb(255, 255, 255);
	}
}

.dog {
	width: 85%;
}
.welcome-box {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
	right: 0;
	top: 0;
	width: 30%;
	margin-top: 160px;
	margin-right: 310px;
}

@media (max-width: 993px) {
.welcome-box {
    background: rgba(255, 254, 254, 0.75);
    width: 373px;
    height: 147px;
    text-align: center;
    margin-right: 0px;
    top: 4px;
    margin-top: 101px;
    padding-left: 0px;
    padding-right: 9px;
	}
}
.we {
	background-color: #ebebeb;
	padding-bottom: 110px;
    padding-top: 74px;
}

p#we-p {
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: 18px;
    text-align: justify;
	margin-top: 73px;
	margin-bottom: 52px;
	padding-left: 5px;
    padding-right: 5px;
}


h1#Header-2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: black;
}


.puppy {
    width: 100%;
    padding-top: 25px;
    margin-top: 60px;
    padding-left: 32px;
}
@media (max-width: 640px) {
	.puppy {
	margin-left: 0px;
	margin-top: 0px;
}
}

.quote-box {
	margin-left: 50px;
}
h2#quote-header {
    font-family: 'Slabo 27px', serif;
    font-size: 41px;
    text-align: center;
    color: black;
}
h3#quote-p {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: black;
    text-align: center;
}
@media (min-width: 724px) {
	.quote-box {
		margin-top: 100px;
	}
}

.battle-pig {
    background-color: #BEE9EA;
    padding-top: 81px;
    padding-bottom: 120px;
}
.piggy {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.youtube-box {
	padding-top: 5px;
}

#youtube-iframe {
	width: 100%;
	height: 100%;
	min-height: 300px;
}
.social-media {
	background-color: rgba(255, 255, 255);
    padding-top: 145px;
    padding-bottom: 145px;
}

.float-right {
	float: right;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
	.col-xs-12.col-md-8.so-me-buttons 
	{
	padding-top: 100px;
	padding-left: 46px;
	}
}
.social-media-favicon img {
    max-width: 80px;
} */